@import ./variables

$height: 15vh

header
    // height: $height
    // background-color: blue
    width: 100%
    position: fixed
    top: 0px
    
.header-content
    display: flex
    justify-content: space-between
    align-content: center
    margin: auto    
    max-width: $max-width

.headerLinks
    display: flex
    justify-content: space-evenly
    
.nav-link
    @include resp-font(.75vw, .9em)
    @include brand-highlight-color
    font-weight: bold
    padding: 1vh .35vw
    text-decoration: none
    transition: 1.5s
    &:hover
        color: lighten($brand-color, 25%)
        text-shadow: 0px 0px 6px adjust-color($brand-color, $alpha:-.5, $lightness: 50%)
        
.link-icon
    font-weight: lighter

#downbutton-container
    // width: 100vw
    margin-left: 50vw
    position: fixed
    bottom: 0px
    transform: rotate(45)