// CSS for portfolio main styling
@import ./variables
@import ./header

    

.highlight
    // @include brand-highlight-color
    color: var(--highlight-color)
    text-shadow: 0px 0px 6px var(--brand-color-glow)
    font-weight: bold
    font-size: 1.15em

.cursive
    @include cursive

.divider
    height: 10vh

.contentWrapper
    section
        height: 93.25vh
        margin: 0
        padding: 3em
    section:nth-child(1)
        background-color: var(--brand-dark)
    section:nth-child(2)
        background-color: var(--brand-light)
    section:nth-child(3)
        background-color: var(--brand-color)
    section:nth-child(4)
        background-image: repeating-linear-gradient(126deg, var(--brand-dark) 0vw 10vw,var(--brand-light) 10vw 20vw, var(--brand-color) 20vw 30vw)

.content
    display: flex
    align-content: center
    margin: auto
    max-width: $max-width
    padding-top: 5%
    position: relative

    & #intro-more-content
        width: 150px
        position: absolute
        bottom: 0
        left: 50%
        cursor: pointer

    & #intro-img
        filter: drop-shadow(-4px -2px 10px var(--brand-color-glow))
        width: 50%

.introblock-item
    position: relative
    align-content: center
    margin: auto

    color: var(--brand-light)
    max-width: 800px
    border-style: solid
    border-width: 7.5px
    border-image: linear-gradient(135deg, var(--brand-color) 7.5%, rgba(217,231,237,0) 9%, rgba(217,231,237,0) 91%, var(--brand-color) 92.5%) 1 1 1 1

    p
        @include resp-font(.75rem, .25rem)
        text-indent: 50px
        text-align: justify
        

    & #introblock
        transition: 1s
        display: inline-grid
        grid-template-columns: repeat(3, 1fr)
        grid-template-rows: repeat(2, 1fr)
        column-gap: 2.5%

        max-height: 200px
        padding: 1vw 2vw

        h1
            margin: auto
            @include resp-font(1.25em)

        h2
            flex-basis: 25%
            margin: 0
            @include resp-font(.5em)

    & #intro-name
        grid-area: 1 / 1 / 3 / 2
        border-right: var(--brand-color-light) 3px solid
    
    & #introduction
        padding: 5px
        grid-area: 1 / 2 / 2 / 4

    & #intro-content
        transition: all 3s ease
        height: 25rem
        overflow: hidden
        padding: 0 5% 
        position: relative  
        
.contentContainer
    max-width: $max-width
    margin: auto

.toggle-state
    height: 0 !important
    
        
