// CSS for portfolio main styling
@import ./variables
@import ./header

    

.highlight
    // @include brand-highlight-color
    color: var(--brand-color)
    text-shadow: 0px 0px 6px var(--brand-color-glow)
    font-weight: bold
    font-size: 1.15em

.cursive
    @include cursive

.divider
    height: 10vh

.contentWrapper
    section
        height: 93.25vh
        margin: 0
        padding: 3em
    section:nth-child(1)
        background-color: var(--brand-dark)
    section:nth-child(2)
        background-color: var(--brand-light)
    section:nth-child(3)
        background-color: var(--brand-color)
    section:nth-child(4)
        background-image: repeating-linear-gradient(126deg, var(--brand-dark) 0vw 10vw,var(--brand-light) 10vw 20vw, var(--brand-color) 20vw 30vw)

.content
    display: flex
    align-content: center
    margin: auto
    max-width: $max-width
    padding-top: 5%
    // height: 95%
        

    & .introblock-item
        


    & #introblock
        color: var(--brand-light)
        display: flex
        flex-wrap: wrap
        align-items: flex-start
        max-width: 800px
        max-height: 200px

        padding: 1vw 2vw
        border-style: solid
        border-width: 7.5px
        border-image: linear-gradient(135deg, var(--brand-color) 7.5%, rgba(217,231,237,0) 9%, rgba(217,231,237,0) 91%, var(--brand-color) 92.5%) 1 1 1 1
        h1
            margin: 0
            @include resp-font(1.25em)
        h2
            flex-basis: 25%
            margin: 0
            @include resp-font(.5em)
    
    & #intro-name
        flex-basis: 30%
    
    & #introduction
        flex-basis: 70%

    & #intro-img
        filter: drop-shadow(-4px -2px 10px var(--brand-color-glow))
        width: 50%
    
    & #into-more
        width: 100%
        display: block
        flex-basis: 70%
        align-self: flex-end
        
.contentContainer
    max-width: $max-width
    margin: auto


