@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Lobster&display=swap");
:root {
  --brand-blue: #00B8F5;
  --brand-green: #39EC54;
  --brand-red: #e11d1d;
  --brand-orange: #ff8902;
  --brand-blue-light: #76ddff;
  --brand-green-light: #adf7b8;
  --brand-red-light: #f08d8d;
  --brand-orange-light: #ffc482;
  --brand-blue-glow: rgba(118, 221, 255, 0.35);
  --brand-green-glow: rgba(173, 247, 184, 0.35);
  --brand-red-glow: rgba(240, 141, 141, 0.35);
  --brand-orange-glow: rgba(255, 196, 130, 0.35);
  --brand-light: #EAEAEC;
  --brand-dark: #121214;
  --brand-color: var(--brand-orange);
  --brand-color-light: var(--brand-orange-light);
  --brand-color-glow: var(--brand-orange-glow);
  --highlight-color: var(--brand-color);
}

:root {
  --brand-blue: #00B8F5;
  --brand-green: #39EC54;
  --brand-red: #e11d1d;
  --brand-orange: #ff8902;
  --brand-blue-light: #76ddff;
  --brand-green-light: #adf7b8;
  --brand-red-light: #f08d8d;
  --brand-orange-light: #ffc482;
  --brand-blue-glow: rgba(118, 221, 255, 0.35);
  --brand-green-glow: rgba(173, 247, 184, 0.35);
  --brand-red-glow: rgba(240, 141, 141, 0.35);
  --brand-orange-glow: rgba(255, 196, 130, 0.35);
  --brand-light: #EAEAEC;
  --brand-dark: #121214;
  --brand-color: var(--brand-orange);
  --brand-color-light: var(--brand-orange-light);
  --brand-color-glow: var(--brand-orange-glow);
  --highlight-color: var(--brand-color);
}

header {
  width: 100%;
  position: fixed;
  top: 0px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: auto;
  padding: 0px 15px;
  max-width: 1920px;
}

.headerLinks {
  display: flex;
  justify-content: space-evenly;
}

.nav-link {
  font-size: calc(0.9em + 0.75vw);
  cursor: pointer;
  font-weight: bold;
  padding: 1vh 0.35vw;
  text-decoration: none;
}

.hover-glow:hover {
  color: var(--brand-light);
  text-shadow: 0px 0px 6px var(--brand-color-light);
  transition: 1s;
}

.link-icon {
  font-weight: lighter;
}

.theme-bar {
  width: 20vw;
}
.theme-bar button {
  height: 1.5vh;
  width: 1.5vh;
  border-radius: 50%;
  margin: 0.9vw 0.9vh;
}
.theme-bar #green {
  box-shadow: 1px 0px 10px var(--brand-green);
  border: var(--brand-green) 2px solid;
  background: radial-gradient(circle, var(--brand-green) 35%, var(--brand-green-light) 83%);
}
.theme-bar #blue {
  border: var(--brand-blue) 2px solid;
  background: radial-gradient(circle, var(--brand-blue) 35%, var(--brand-blue-light) 83%);
}
.theme-bar #red {
  border: var(--brand-red) 2px solid;
  background: radial-gradient(circle, var(--brand-red) 35%, var(--brand-red-light) 83%);
}
.theme-bar #orange {
  border: var(--brand-orange) 2px solid;
  background: radial-gradient(circle, var(--brand-orange) 35%, var(--brand-orange-light) 83%);
}

#downbutton-container {
  margin-left: 50vw;
  position: fixed;
  bottom: 0px;
  transform: rotate(45);
}

.highlight {
  color: var(--highlight-color);
  text-shadow: 0px 0px 6px var(--brand-color-glow);
  font-weight: bold;
  font-size: 1.15em;
}

.cursive {
  font-family: "Lobster", cursive;
}

.divider {
  height: 10vh;
}

.contentWrapper section {
  height: 93.25vh;
  margin: 0;
  padding: 3em;
}
.contentWrapper section:nth-child(1) {
  background-color: var(--brand-dark);
}
.contentWrapper section:nth-child(2) {
  background-color: var(--brand-light);
}
.contentWrapper section:nth-child(3) {
  background-color: var(--brand-color);
}
.contentWrapper section:nth-child(4) {
  background-image: repeating-linear-gradient(126deg, var(--brand-dark) 0vw 10vw, var(--brand-light) 10vw 20vw, var(--brand-color) 20vw 30vw);
}

.content {
  display: flex;
  align-content: center;
  margin: auto;
  max-width: 1920px;
  padding-top: 5%;
  position: relative;
}
.content #intro-more-content {
  width: 150px;
  position: absolute;
  bottom: 0;
  left: 50%;
  cursor: pointer;
}
.content #intro-img {
  filter: drop-shadow(-4px -2px 10px var(--brand-color-glow));
  width: 50%;
}

.introblock-item {
  position: relative;
  align-content: center;
  margin: auto;
  color: var(--brand-light);
  max-width: 800px;
  border-style: solid;
  border-width: 7.5px;
  -o-border-image: linear-gradient(135deg, var(--brand-color) 7.5%, rgba(217, 231, 237, 0) 9%, rgba(217, 231, 237, 0) 91%, var(--brand-color) 92.5%) 1 1 1 1;
     border-image: linear-gradient(135deg, var(--brand-color) 7.5%, rgba(217, 231, 237, 0) 9%, rgba(217, 231, 237, 0) 91%, var(--brand-color) 92.5%) 1 1 1 1;
}
.introblock-item p {
  font-size: 1rem;
  text-indent: 50px;
  text-align: justify;
}
.introblock-item #introblock {
  transition: 1s;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  -moz-column-gap: 2.5%;
       column-gap: 2.5%;
  max-height: 200px;
  padding: 1vw 2vw;
}
.introblock-item #introblock h1 {
  margin: auto;
  font-size: calc(1rem + 1.25em);
}
.introblock-item #introblock h2 {
  flex-basis: 25%;
  margin: 0;
  font-size: calc(1rem + 0.5em);
}
.introblock-item #intro-name {
  grid-area: 1/1/3/2;
  border-right: var(--brand-color-light) 3px solid;
}
.introblock-item #introduction {
  padding: 5px;
  grid-area: 1/2/2/4;
}
.introblock-item #intro-content {
  transition: all 3s ease;
  height: 25rem;
  overflow: hidden;
  padding: 0 5%;
  position: relative;
}

.contentContainer {
  max-width: 1920px;
  margin: auto;
}

.toggle-state {
  height: 0 !important;
}/*# sourceMappingURL=App.css.map */