// CSS for portfolio main styling
@import ./variables
@import ./header

    

.highlight
    // @include brand-highlight-color
    color: var(--brand-color)
    text-shadow: 0px 0px 6px var(--brand-green-glow)
    font-weight: bold
    font-size: 1.15em

.cursive
    @include cursive

.divider
    height: 10vh

.contentWrapper
    section
        height: 100vh
        margin: 0
        padding: 3em
    section:nth-child(1)
        background-color: var(--brand-dark)
    section:nth-child(2)
        background-color: var(--brand-light)
    section:nth-child(3)
        background-color: var(--brand-color)
    section:nth-child(4)
        background-image: repeating-linear-gradient(126deg, var(--brand-dark) 0vw 10vw,var(--brand-light) 10vw 20vw, var(--brand-color) 20vw 30vw)

.content
    display: flex
    margin: auto
    max-width: $max-width
        
    #introblock
        color: var(--brand-light)
        max-width: 33%
        margin-top: 15vh
        padding: 1vw 2vw
        border-style: solid
        border-width: 7.5px
        border-image: linear-gradient(135deg, var(--brand-color) 7.5%, rgba(217,231,237,0) 9%, rgba(217,231,237,0) 91%, var(--brand-color) 92.5%) 1 1 1 1
        h1
            margin: 0
            @include resp-font(1.25em)
        h2
            margin: 0
            @include resp-font(.5em)
        
.contentContainer
    max-width: $max-width
    margin: auto


